<index: element="candidats">
    <h4>
        Кандидаты
        {{if @editable}}
        <button type="button" class="btn btn-default" on-click="setEditMode()">
            <span class="glyphicon glyphicon-pencil"></span>
        </button>
        {{/}}
    </h4>
    <p>
        {{if table}}
            {{if editMode}}
                <editable-table></editable-table>
            {{else}}
                <view-table></view-table>
            {{/}}
        {{/}}
    </p>
<editable-table: element="editable-table">
    <table class="table table-bordered">
        <thead>
        <tr>
            {{each table[0] as #cell, #c}}
                {{if #c===0}}
                <th>
                    <button type="button" class="btn btn-warning" on-click="addCol()">
                        <span class="glyphicon glyphicon-plus"/> Критерий
                    </button>
                </th>
                {{else}}
                <th on-click="editCell(#cell, #r, #c)">
                    <editable-cell>
                        <span>
                            {{if #cell}}
                                {{#cell}}
                            {{else}}
                                Критерий {{#c}}
                            {{/}}
                        </span>
                        <button type="button" class="btn btn-danger" on-click="delCol(#c)">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>
                    </editable-cell>
                </th>
                {{/}}
            {{/}}
        </tr>
        </thead>
        <tbody>
        {{each table as #row, #r}}
            {{if #r!=0}}
            <tr>
                {{each #row as #cell, #c}}
                    {{if #c===0}}
                    <th on-click="editCell(#cell, #r, #c)">
                        <editable-cell>
                            <button type="button" class="btn btn-danger" on-click="delRow(#r)">
                                <span class="glyphicon glyphicon-remove"/>
                            </button>
                                <span>
                                    {{if #cell}}
                                        {{#cell}}
                                    {{else}}
                                        Кандидат {{#r}}
                                    {{/}}
                                </span>
                        </editable-cell>
                    </th>
                    {{else}}
                    <td on-click="editCell(#cell, #r, #c)">
                        <editable-cell>{{#cell}}</editable-cell>
                    </td>
                    {{/}}
                {{/}}

            </tr>
            {{/}}
        {{/}}
        </tbody>
    </table>
    <button type="button" class="btn btn-success" on-click="addRow()">
        <span class="glyphicon glyphicon-plus"></span> Кандидат
    </button>

<view-table: element="view-table">
    <table class="table table-bordered">
        <thead>
            <tr>
                {{each table[0] as #cell, #c}}
                    <th><span>{{#cell}}</span></th>
                {{/}}
            </tr>
        </thead>
        <tbody>
            {{each table as #row, #r}}
                {{if #r!=0}}
                    <tr>
                        {{each #row as #cell, #c}}
                            <td><span>{{#cell}}</span></td>
                        {{/}}
                    </tr>
                {{/}}
            {{/}}
        </tbody>
    </table>
<editable-cell: element="editable-cell">
    <form on-submit="doneEditing()">
        {{if edit.col===#c && edit.row===#r}}
            <input id="editcell{{#r}}{{#c}}" class="edit" value="{{edit.text}}" on-keyup="cancelEditing($event)">
        {{else if !#r && edit.col===#c}}
           <input id="editcell0{{#c}}" class="edit" value="{{edit.text}}" on-keyup="cancelEditing($event)">
        {{else}}
        {{@content}}
        {{/}}
    </form>