<import: src="./votings">
<import: src="./login">
<import: src="./users">
<import: src="./registration">
<import: src="./navigation">
<import: src="./account">
<import: src="./participants">
<import: src="./access-error">

<Title:>
    webDSS
<Head:>
    {{if _session.flash.error}}
        <div class="container">
            {{each _session.flash.error as #error}}
                <div class="alert alert-warning">{{#error}}</div>
            {{/}}
        </div>
    {{/}}

<Body:>
    <view name="navigation"></view>
    <div class="container-fluid">
        <div class="col-xs-3">
            <view name="{{$render.ns}}:list">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Найти">
                    </div>
                    <a class="btn btn-success" on-click="setMode('new')">Добавить</a>
                </form>
            </view>
        </div>
        <div class="col-xs-6">
            {{if _page.mode}}
                <view name="{{$render.ns}}:{{_page.mode}}"></view>
            {{/}}
        </div>

        <div class="col-xs-3">

                {{if $render.ns==='voting'}}
                    <a class="btn btn-success" href="/users?votingid={{_page.selected.id}}">Добавить</a>
                    <participants></participants>
                {{else if _page.selectedVoting}}
                    <h3>{{_page.voting.name}}</h3>
                    <span>{{_page.voting.description}}</span>
                    <participants></participants>
                {{/}}


        </div>
    </div>

<mode-controls: element="mode-controls">
    <div class="form-group">
        <button class="btn btn-primary btn-lg" type="submit">Сохранить</button>
        <a class="btn btn-lg btn-default" href="{{$render.url}}">Отмена</a>
    </div>

    <list-row-group: element="list-row-group">
        {{if @data}}
        <thead><tr><th>{{@name}}</th></tr></thead>
        <tbody>
        {{each @data as #row, #index}}
        <view name = "{{$render.ns}}:list-row" data="{{#row}}" index="{{#index}}"></view>
        {{/each}}
        </tbody>
        {{/}}