<import: src="./votings">
<import: src="./login">
<import: src="./users">
<import: src="./registration">
<import: src="./navigation">
<import: src="./account">
<import: src="./participants">
<import: src="./access-error">

<Title:>
    webDSS
<Head:>
    {{if _session.flash.error}}
        <div class="container">
            {{each _session.flash.error as #error}}
                <div class="alert alert-warning">{{#error}}</div>
            {{/}}
        </div>
    {{/}}

<Body:>
    <view name="navigation"></view>
    <div class="container-fluid">
        <div class="col-xs-3">
            <view name="{{$render.ns}}:list">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Найти">
                    </div>
                    <a class="btn btn-success" href="{{$render.ns}}?action=new">Добавить</a>
                </form>
            </view>
        </div>
        <div class="col-xs-6">
             {{if _state[$render.ns].mode}}
                <view name="{{$render.ns}}:{{_state[$render.ns].mode}}" model="{{_state[$render.ns]}}"></view>
            {{/}}
        </div>
        <div class="col-xs-3">
            {{if _state.votings.selected}}
                <participants model="{{_state.votings.selected}}"></participants>
            {{/}}
        </div>
    </div>

<mode-controls: element="mode-controls">
    <div class="form-group">
        <button type="button" class="btn btn-primary btn-lg" on-click="addNew($render.ns)">Сохранить</button>
        <a role="button" class="btn btn-lg btn-default" on-click="freeNew($render.ns)">Отмена</a>
    </div>

    <list-row-group: element="list-row-group">

        <thead><tr><th>{{@name}}</th></tr></thead>
        <tbody>
        {{each @data as #row, #index}}
            <tr on-click="redirect($render.ns+'?action=view&id='+#index)">

                <view name = "{{$render.ns}}:list-row" data="{{#row}}" index="{{#index}}"></view>

            </tr>
        {{/each}}
        </tbody>

