<index: element="list">
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Найти"/>
    </div>
    <a class="btn btn-success" href="/{{@pattern}}/new">Добавить</a>
</form>
<div class="scrollable">
    <table class="table table-hover">
        <thead>
            <tr>
                {{if pattern}}
                    <view name="{{pattern}}-head"/>
                {{else}}
                    <row-default data = "{{#row}}"/>
                {{/}}
            </tr>
        </thead>
        <tbody>
            <view name="body" data="{{data}}"/>
            {{if expertList}}
            <tr><th>Эксперт</th></tr>
            <view name="body" data="{{expertList}}"/>
            {{/}}
            {{if observerList}}
            <tr><th>Наблюдатель</th></tr>
            <view name="body" data="{{observerList}}"/>
            {{/}}
        </tbody>
    </table>
</div>
<body:>
    {{each @data as #row, #index}}

    <tr on-click="page.redirect('/'+pattern+'/'+#row.id)">

        {{if pattern}}
        <view name="{{pattern}}-row" data = "{{#row}}"/>
        {{else}}
        <default-row data = "{{#row}}"/>
        {{/}}

        {{if #row.owner === owner}}
        <td>
            <button type="button" class="btn btn-default" on-click="delete(#index)">
                <span class="glyphicon glyphicon-remove"/>
            </button>
        </td>
        {{/}}
        {{if receiver[#row.id]}}
        <td>
            <span class="glyphicon glyphicon-ok"/>
        </td>
        {{else if receiver}}
        <td>
            <button type="button" class="btn btn-default btn-xs" on-click="setParticipant(#row)">
                <span class="glyphicon glyphicon-plus"/>
            </button>
        </td>
        {{/}}

    </tr>

    {{/each}}
<!-- default list pattern -->
<default-row: element="default-row">
    <td>{{@data.name}}</td>
<default-head: element="default-head">
    <th>Название</th>

<!-- users list pattern -->
<users-head:>
    <th>Имя</th>
    <th>Специализация</th>
<users-row:>

    <td>

            {{@data.local.username}}<br>
            <small>{{@data.local.email}}</small>
    </td>
    <td>
            {{@data.local.specialism}}
     </td>




<!-- votings list pattern -->
<votings-head:>
    <th>Название</th>
    <th>Создан</th>
<votings-row:>

        <td>{{if @data.results}}
            <span class="glyphicon glyphicon-ok-sign"/>
            {{else if @data.dateStarted}}
            <span class="glyphicon glyphicon-send"/>
            {{/}} {{@data.name}}
        </td>
        <td>{{formatDate(@data.timeCreated)}}</td>
        <td>{{@data.status}}</td>
