<index: element="list">
<form class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Найти"/>
    </div>
    <a class="btn btn-success" href="/{{@pattern}}/new">Добавить</a>
</form>
<div class="scrollable">
    <table class="table table-hover">
        <thead>
            <tr>
                {{if pattern}}
                    <view name="{{pattern}}-head"/>
                {{else}}
                    <row-default data = "{{#row}}"/>
                {{/}}
            </tr>
        </thead>
        <tbody>
            {{each data as #row, #index}}

            <tr>

                {{if pattern}}
                    <view name="{{@pattern}}-row" data = "{{#row}}"/>
                {{else}}
                    <default-row data = "{{#row}}"/>
                {{/}}

                {{if #row.owner === owner}}
                    <td>
                        <button type="button" class="btn btn-default" on-click="delete(#index)">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>
                    </td>
                {{/}}
                {{if receiver[#row.id]}}
                <td>
                    <span class="glyphicon glyphicon-ok"/>
                </td>
                {{else if receiver}}
                <td>
                    <button type="button" class="btn btn-default" on-click="setParticipant(#row)">
                        <span class="glyphicon glyphicon-plus"/>
                    </button>
                </td>
                {{/}}

            </tr>

            {{/each}}
        </tbody>
    </table>
</div>

<!-- default list pattern -->
<default-row: element="default-row">
    <td>{{@data.name}}</td>
<default-head: element="default-head">
    <th>Название</th>

<!-- users list pattern -->
<users-head:>
    <th>Имя</th>
    <th>Специализация</th>
<users-row:>
    <a href="/users/{{@data.id}}">
    <td>
        {{@data.local.username}}<br>
        <small>{{@data.local.email}}</small>
    </td>
    <td>{{@data.local.specialism}}</td>
    </a>


<!-- votings list pattern -->
<votings-head:>
    <th>Название</th>
    <th>Создан</th>
<votings-row:>
    <a href="/votings/{{@data.id}}">
        <td>{{@data.name}}</td>
        <td>{{formatDate(@data.timeCreated)}}</td>
        <td>{{@data.status}}</td>
     </a>