<Body:>
    <div class="container">
        <form class="form-signin" role="form" action='/login' method='post'>
            <h2>Вход</h2>
            <div class="form-group">
                <input name="email" class="form-control" type="text" placeholder="e-mail" required autofocus>
            </div>
            <div class="form-group">
                <input name="password" class="form-control" type="password" placeholder="пароль" required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <a class="btn btn-block" href="/registration">Регистрация</a>
        </form>
    </div>

