<Body:>
    <div class="container">
        <form class="form-signin" role="form" action='/login' method='post'>
            <h2>Вход</h2>
            <input name="email" type="text" class="form-control" placeholder="Логин" required autofocus>
            <input name="password" type="password" class="form-control" placeholder="пароль" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
            <a class="btn btn-block" href="/registration">Регистрация</a>
        </form>
    </div>

