<index: element="participants">
    {{if _state.votings.selected && $render.ns!='votings'}}
        <b>{{_state.votings.selected.name}}.</b>
        <span>{{_state.votings.selected.description}}</span>
    {{/}}
    <h4>Участники {{if $render.ns==='votings'}}<a class="btn btn-success" href="/users">
        <span class="glyphicon glyphicon-plus-sign"/>Добавить
    </a>
    {{/}}
    </h4>

    <div class="scrollable">
        <table class="table table-hover">

            {{if _page.usersList}}

            <list data="{{_page.voting.participants}}"></list>
            {{/}}
        </table>
    </div>

    <list: element="list">
        {{if @data}}

        <tbody>
        {{each @data}}
            <tr>
                <td>{{@data.username}}<br><small>{{@data.email}}</small></td>
                <td>{{@data.specialism}}</td>

                <td>
                    {{if @data.createdBy === _page.user.id}}
                    <button type="button" class="btn btn-default btn-xs" on-click="delUser(@data.id)">
                        <b>X</b>
                    </button>
                    {{/}}
                </td>
                <td>
                    <button type="button" class="btn btn-default btn-xs" on-click="delUserfromparticipants(@data.id)">
                        <b>-></b>
                    </button>
                </td>
            </tr>
        {{/each}}
        </tbody>
        {{/}}

