<Body:>
    <div class="container">
        <form class="form-signin" role="form" action='/register' method='post'>
            <h3 class="form-signin-heading">Регистрация</h3>
            <input name="username" type="text" class="form-control" placeholder="Имя" required autofocus>
            <input name="email" type="email" class="form-control" placeholder="имеил" required>
            <input name="password" type="password" class="form-control" placeholder="пароль" required>
            <input name="skype" type="text" class="form-control" placeholder="Skype">
            <button class="btn btn-lg btn-warning btn-block" type="submit">Зарегистрироваться</button>
            <a class="btn btn-block" href="/login">Вход</a>
        </form>
    </div>