<index:>
    {{if editable}}
        <view name="editable"/>
    {{else}}
        <view name="readonly"/>

    {{/}}
<editable:>
    <table class="table table-bordered">
        <thead>
        <tr>
            {{each table[0] as #cell, #c}}
                {{if #c===0}}
                <th>
                    <button type="button" class="btn btn-warning" on-click="addCol()">
                        <span class="glyphicon glyphicon-plus"/> Критерий
                    </button>
                </th>
                {{else}}
                <th on-click="editCell(#cell, 0, #c)">
                    <editable-cell r="{{0}}" c="{{#c}}">
                        <span>
                            {{if #cell}}
                                {{#cell}}
                            {{else}}
                                Критерий {{#c}}
                            {{/}}
                        </span>
                        <button type="button" class="btn btn-xs" on-click="delCol(#c)">
                            <span class="glyphicon glyphicon-remove"/>
                        </button>
                    </editable-cell>
                </th>
                {{/}}
            {{/}}
        </tr>
        </thead>
        <tbody>
        {{each table as #row, #r}}
            {{if #r!=0}}
            <tr>
                {{each #row as #cell, #c}}
                    {{if #c===0}}
                    <th on-click="editCell(#cell, #r, #c)">
                        <editable-cell r="{{#r}}" c="{{#c}}">
                            <button type="button" class="btn btn-sm" on-click="delRow(#r)">
                                <span class="glyphicon glyphicon-remove"/>
                            </button>
                                <span>
                                    {{if #cell}}
                                        {{#cell}}
                                    {{else}}
                                        Кандидат {{#r}}
                                    {{/}}
                                </span>
                        </editable-cell>
                    </th>
                    {{else}}
                    <td on-click="editCell(#cell, #r, #c)">
                        <editable-cell r="{{#r}}" c="{{#c}}">{{#cell}}</editable-cell>
                    </td>
                    {{/}}
                {{/}}

            </tr>
            {{/}}
        {{/}}
        </tbody>
    </table>
    <button type="button" class="btn btn-success" on-click="addRow()">
        <span class="glyphicon glyphicon-plus"></span> Кандидат
    </button>
    <editable-cell: element="editable-cell">
        <form on-submit="doneEditing()">
            {{if edit.col===@c && edit.row===@r}}
            <input id="editcell{{@r}}{{@c}}" class="edit" value="{{edit.text}}">
            {{else}}
            {{@content}}
            {{/}}
        </form>

<readonly:>
    <table class="table table-bordered">
        <thead>
            <tr>
                {{each table[0] as #cell, #c}}
                    <th><span as="cell">{{#cell}}</span></th>
                {{/}}
            </tr>
        </thead>
        <tbody>
            {{each table as #row, #r}}
                {{if #r!=0}}
                    <tr>
                        {{each #row as #cell, #c}}
                            <td><span as="cell">{{#cell}}</span></td>
                        {{/}}
                    </tr>
                {{/}}
            {{/}}
        </tbody>
    </table>


<vote:>

    <table class="table table-bordered">
        <thead>
        <tr>
            {{each table[0] as #cell, #c}}
            <th><span>{{#cell}}</span></th>
            {{/}}
        </tr>
        </thead>
        <tbody>
        {{each table as #row, #r}}
        {{if #r!=0}}

        <tr>

            {{each table[editvote[#r-1]+1] as #cell, #c}}
            <td>
                {{if enable && #c==0}}
                <div class="votingbtngroup">

                    <button type="button" class="btn btn-default btn-xs" on-click="up(#r-1)">
                        <span class="glyphicon glyphicon-chevron-up"></span>

                    </button>
                    <br>
                    <button type="button" class="btn btn-default btn-xs" on-click="down(#r-1)">
                        <span class="glyphicon glyphicon-chevron-down"></span>

                    </button>



                </div>
                {{/}}
                <span>{{#cell}}</span>


            </td>
            {{/}}
        </tr>
        {{/}}
        {{/}}
        </tbody>
    </table>
    {{if !vote}}
        <button type="button" class="btn btn-primary" on-click="save()">Проголосовать</button>
    {{/}}