<new:>
    <form role="form" class="form-horizontal" on-submit="addUser(_page.voting)">
        <h3>Новый пользователь</h3>
        <div class="form-group col-xs-5">
            <input name="username" type="text" class="form-control" placeholder="Имя" value="{{@model.username}}" required autofocus>
        </div>
        <div class="form-group col-xs-5">
            <input name="email" type="email" class="form-control" placeholder="e-mail" value="{{@model.email}}" required>
            <input name="skype" type="text" class="form-control" placeholder="Skype" value="{{@model.skype}}">
        </div>
        <div class="form-group col-xs-7">
            <input name="specialism" type="text" class="form-control" placeholder="Специализация" value="{{@model.specialism}}">
        </div>
        <div class="form-group">
            <textarea class="form-control" placeholder="Дополнительно"  rows="3">{{@model.description}}</textarea>
        </div>
        <mode-controls></mode-controls>
    </form>

<view:>
    <div class="blockquote">
        <button class="btn btn-default right" on-click="print(@model)">
            <span class="glyphicon glyphicon-print"/>
        </button>
        <h2>{{@model.username}}<br>
            <small>Специализация: {{@model.specialism}}</small>
        </h2>


    </div>
    <p>
    <dl class="dl-horizontal ">
        <dt>Зарегистрирован:</dt>
        <dd>02.07.14</dd>

        <dt>e-mail:</dt>
        <dd>{{@model.email}}</dd>
        <dt>Skype:</dt>
        <dd>{{@model.skype}}</dd>
        <dt>Учавствовал в:</dt>
        <dd>
            <a href="#">5</a> голосованиях
        </dd>
    </dl>
    </p>
    <span>{{@model.description}}</span>







