<import: src="./candidats">
<view:>
    {{with @model.selected}}
        <blockquote>
            <h1>{{this.name}}</h1>
        </blockquote>

        <dl class="dl-horizontal">
            <dt>Создано:</dt>
            <dd>{{formatDate(this.timeCreated)}}</dd>
            <dt>Менеджер:</dt>
            <dd>{{this.owner}}</dd>
        </dl>
        <p>{{this.description}}</p>
        <hr>
    {{/}}
    <candidats table = {{@model.selected.candidats}} editable></candidats>
<list:>
    {{@content}}
    <div class="scrollable">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Название</th>
                    <th>Создан</th>
                    <th>Статус</th>
                    <th></th>
                </tr>
            </thead>

                <list-row-group name="Все" data="{{_page.list}}"></list-row-group>
               <!-- <list-row-group name="Эксперт" data="{{_page.votings.expert}}"></list-row-group>
                <list-row-group name="Наблюдатель" data="{{_page.votings.observer}}"></list-row-group> -->

        </table>
    </div>

<new:>
    <form role="form">
        <h3>Новое голосование</h3>
        {{with @model.new}}
            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="Название" value="{{this.name}}" required autofocus>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Описание"  rows="3">{{this.description}}</textarea>
            </div>
        <candidats table = {{_state.votings.new.candidats}} editable></candidats>
        {{/}}

        <mode-controls></mode-controls>
    </form>

<list-row: element="list-row">
    <td>{{@data.name}}</td>
    <td>{{formatDate(@data.timeCreated)}}</td>
    <td>{{@data.status}}</td>
    <td>
        <button type="button" class="btn btn-default" on-click="delVoting(@data.id)">
            <span class="glyphicon glyphicon-remove"/>
        </button>
    </td>




