
<view:>
    <div class="blockquote">
        <h2>{{@model.name}}
            <button class="btn btn-default right" on-click="print(@model)">
                <span class="glyphicon glyphicon-print"/>
            </button>
            {{if !@model.timeFinished && _session.userId==@model.owner}}
                {{if @model.timeStarted}}
                <button class="btn btn-danger right" on-click="stopVoting(@model)">
                    <span class="glyphicon glyphicon-stop"/> Остановить
                </button>
                {{else if @model.candidats.length>2 && Object.keys(@model.participants).length && @model.owner === _session.userId}}
                <button class="btn btn-info right" on-click="startVoting(@model)">
                    <span class="glyphicon glyphicon-play"/> Старт!
                </button>
                {{/}}
            {{/}}
        </h2>

    </div>

    <dl class="dl-horizontal ">
        <dt>Менеджер:</dt>
        <dd>
            {{with getUser(@model.owner)}}
            <a href="/users/id">{{this.name}}</a>
            {{if @model.owner === _session.userId}}
            (Вы)
            {{/}}
            {{/}}
        </dd>
        <dt>Создано:</dt>
        <dd>{{formatDate(@model.timeCreated)}}</dd>
        {{if @model.timeStarted}}
        <dt>Запущено:</dt>
        <dd>{{formatDate(@model.timeStarted)}}</dd>
        {{/}}
        {{if @model.timeFinished}}
        <dt>Завершено:</dt>
        <dd>{{formatDate(@model.timeFinished)}}</dd>
        {{/}}

    </dl>
    <p>{{@model.description}}</p>
    <hr>
    {{if @model.timeStarted}}
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active"
             role="progressbar"
             aria-valuenow="0"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: {{_page.progress}}%">
            {{_page.progress}}% Проголосовало
        </div>
    </div>
    {{/}}
    <h4>
        Кандидаты
        {{if @model.owner==_session.userId && !@model.timeStarted}}
            <button type="button" class="btn btn-default" on-click="table.switchEditMode()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        {{if @model.results}}
        <button type="button" class="btn btn-info right" on-click="viewResults()">
            <span class="glyphicon glyphicon-list"/> Результаты
        </button>
        {{/}}
        {{/}}

    </h4>
    <p>
        {{if @model.owner==_session.userId}}
            {{if _page.viewResults}}
            <view name="results" data = "{{_page.view.results}}"/>
            {{else}}
            <view name="table" as="table" table = "{{_page.view.candidats}}"/>
            {{/}}
        {{else if @model.participants[_session.userId].role==true}}
            <view name="table:vote" table = "{{_page.view.candidats}}" vote="{{_page.view.participants[_session.userId].vote}}"/>
        {{else if @model.participants[_session.userId].role==false}}
            <view name="table:readonly" table = "{{_page.view.candidats}}"/>
        {{/}}

    </p>

<results:>
    <p>
        <small>Ниже указан лучший кандидат по каждой из процедур</small>
    </p>

    <dl>
        <ul class="list-unstyled">
            <li>
                <p>
                    <b>Борда: </b>
                        <view name="range" range="{{@data.mBorda}}"/>
                </p>
            </li>
            <li>
                <p>
                    <b>Симпсон: </b>
                    <view name="range" range="{{@data.Simpson}}"/>
                </p>
            </li>
            <li>
                <p>
                    <b>Фишберн: </b>
                    <view name="range" range="{{@data.Fishbern}}"/>
                </p>
            </li>
            <li>
                <p>
                    <b>Джодсон: </b>
                    <view name="range" range="{{@data.Jodson}}"/>
                </p>
            </li>

        </ul>


<range:>
    {{each @range as #c, #i}}
        {{if #i>0}}
        <span class="glyphicon glyphicon-chevron-right"/>
        {{/}}
        {{_page.view.candidats[#c+1][0]}}
    {{/}}

<new:>
    <form role="form">
        <h3>Новое голосование</h3>

            <div class="form-group">
                <input name="name" type="text" class="form-control" placeholder="Название" value="{{_page.new.name}}" required autofocus>
            </div>
            <div class="form-group">
                <textarea class="form-control" placeholder="Описание"  rows="3">{{_page.new.description}}</textarea>
            </div>

        <view name="table" table = {{_page.new.candidats}}></view>


        <mode-controls></mode-controls>
    </form>






